@font-face { font-family: Quarkstorm; src: url('Static/Fonts/quarkstormgradital.ttf'); }
@font-face { font-family: Montserrat; src: url('Static/Fonts/Montserrat_Medium.ttf'); }

*{
    margin: 0;
    padding: 0;
}
html{overflow: hidden;}
body{
    color: #ffffff;
    background-color: #000;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2vh + 0.5vw);
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
h1{
    font-family: 'Quarkstorm', sans-serif;
    font-size: calc(3.5vh + 4vw);
    text-align: center;
}
iframe{
    width: 100%;
    height: 100%;
}

.section{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
    .s1{background-image: url("Static/Images/Background/space_05.jpg");}
    .s2{background-image: url("Static/Images/Background/space_01.jpg");}
    .s3{background-image: url("Static/Images/Background/space_06.jpg");}
    .s4{background-image: url("Static/Images/Background/space_12.jpg");}

/* Parallax */
.parallax_wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 2vh, rgba(0, 0, 0, 0) calc(100% - 2vh), rgba(0, 0, 0, 0.6));
}
    .parallax_primary{
        top: 50%;
        left: 50%;
        max-height: 100vh;
        max-width: 100vw;
        position: absolute;
        overflow: hidden;
    }
    .parallax_secondary{
        max-height: 40vh;
        max-width: 40vw;
        position: absolute;
        overflow: hidden;
    }
    .branding{
        font-size: 10.5vw;
        font-family: 'Quarkstorm', sans-serif;
        letter-spacing: 2vw;
        text-align: center;
        color: #f00;
        transform: translate3d(-50%, -50%, -35px) scale(1.35);
        line-height: 55vh;
        overflow: hidden;
        white-space: nowrap;
        }

        /* Section 1 */
        .glitch_flower{transform: translate3d(-50%, -50%, -50px) scale(1.5);}
        .glitch_girl{transform: translate3d(-50%, -50%, -15px) scale(1.15);}
        .bird_01{top: 5%; left: 88%; transform: translate3d(-50%, -50%, -36px) scale(1.2);}
        .bird_02{top: 7%; left:18%; transform: translate3d(-50%, -50%, -10px) scale(1);}
        .bird_03{top: 50%; left: 100%; transform: translate3d(-50%, -50%, -45px) scale(0.8);}
        .bird_04{top: 80%; left: 10%; transform: translate3d(-50%, -50%, -49px) scale(1);}
        .bird_05{top: 77%; left: 88%; transform: translate3d(-50%, -50%, -15px) scale(1.1);}

        /* Section 2 */
        .glitch_sun{transform: translate3d(-50%, -50%, -50px) scale(1.8);}
        .glitch_astro{transform: translate3d(-50%, -50%, -15px) scale(1);}
        .balloon_01{top: 10%; left: 20%; transform: translate3d(-50%, -50%, -5px) scale(1);}
        .balloon_02{top: 20%; left: 90%; transform: translate3d(-50%, -50%, -30px) scale(0.9);}
        .balloon_03{top: 50%; left: -10%; transform: translate3d(-50%, -50%, -40px) scale(1);}
        .balloon_04{top: 65%; left: 90%; transform: translate3d(-50%, -50%, -0px) scale(1.1);}
        .balloon_05{top: 90%; left: 20%; transform: translate3d(-50%, -50%, -40px) scale(1.5);}

        /* Section 3 */
        .glitch_moon{transform: translate3d(-50%, -50%, -50px) scale(1.5);}
        .glitch_moth{transform: translate3d(-50%, -50%, -15px) scale(1);}
        .insect_01{top: 8%; left: 15%; transform: translate3d(-50%, -50%, -5px) scale(0.9);}
        .insect_02{top: 4%; left: 78%; transform: translate3d(-50%, -50%, -36px) scale(0.7);}
        .insect_03{top: 30%; left: 15%; transform: translate3d(-50%, -50%, -40px) scale(0.4);}
        .insect_04{top: 34%; left: 83%; transform: translate3d(-50%, -50%, -25px) scale(0.4);}
        .insect_05{top: 50%; left: 8%; transform: translate3d(-50%, -50%, -16px) scale(1);}
        .insect_06{top: 66%; left: 100%; transform: translate3d(-50%, -50%, -40px) scale(0.6);}
        .insect_07{top: 83%; left: 90%; transform: translate3d(-50%, -50%, -30px) scale(0.7);}
        .insect_08{top: 93%; left: 13%; transform: translate3d(-50%, -50%, -40px) scale(0.7);}
        .insect_09{top: 105%; left: 73%; transform: translate3d(-50%, -50%, -10px) scale(0.8);}

        /* Section 4 */
        .glitch_succulent{transform: translate3d(-50%, -50%, -50px) scale(1.4);}
        .glitch_beatle{transform: translate3d(-50%, -50%, -15px) scale(0.8);}
        .betta_01{top: 10%; left: 20%; transform: translate3d(-50%, -50%, -5px) scale(1);}
        .betta_02{top: 20%; left: 90%; transform: translate3d(-50%, -50%, -30px) scale(0.8);}
        .betta_03{top: 50%; left: -10%; transform: translate3d(-50%, -50%, -40px) scale(1);}
        .betta_04{top: 65%; left: 90%; transform: translate3d(-50%, -50%, -0px) scale(1.2);}
        .betta_05{top: 90%; left: 20%; transform: translate3d(-50%, -50%, -40px) scale(1.8);}

.spacer_wrapper{
    min-height: 50vh;
    background-color: #fff;
    color: #000;
    position: relative;
    z-index: 3;
}
    .spacer{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 160vh;
        position: absolute;
        padding: 0 2vh;
    }
    .content_wrapper{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
        .content{
            display: inline-block;
            height: 50vh;
            width: 50vh;
            padding: 0vh 1vh 2vh;
        }
            .c_left{padding-left: 2vh;}
            .c_right{padding-right: 2vh;}

.social_grid{
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto 1fr;
}
    .social_logo{padding: 2vh 1vh 0 1vh;}
